@{
    ViewBag.Title = "Index";
}
<div>
    <h2>Dynamic menu from database in AngularJS</h2>
</div>


<div ng-app="MyApp">
    <div ng-controller="menuController">
        <div>
            <div class="col-sm-3">
                <ul class="nav nav-stacked">
                    <script type="text/ng-template" id="treeMenu">
                        <a href="{{Menu.url}}">{{Menu.nombre}}</a>
                        <ul ng-if="(SiteMenu | filter:{parentId : Menu.Id}).length > 0">
                            <li ng-repeat="Menu in SiteMenu | filter:{parentId : Menu.Id} : true" ng-include="'treeMenu'"></li>
                        </ul>
                    </script>
                    <ul class="nav nav-stacked">
                        <li ng-repeat="Menu in SiteMenu | filter:{parentId : 0} : true" ng-include="'treeMenu'"></li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</div>
@* Add css here for nav menu *@
<link href="~/css/navMenu.css" rel="stylesheet" />

@* add js here for angular app *@
@section Scripts{
    <script src="~/Scripts_Angular/MyApp.js"></script>
}